h2 Из чего состоит дисплей
  ul(class="slider")
    li
      img(
        src="cover_03.png" 
        width="300px"
        height="auto"
        alt="Google Maps"
        loading="lazy"
        )
    li
      img(
        src="cover_02.png" 
        width="300px"
        height="auto"
        alt="Google Maps"
        loading="lazy"
        )
    li
      img(
        src="cover_01.png" 
        width="300px"
        height="auto"
        alt="Google Maps"
        loading="lazy"
        )
    li
      img(
        src="cover_00.png" 
        width="300px"
        height="auto"
        alt="Google Maps"
        loading="lazy"
        )